main h1 {
    margin-bottom: 20px;
    margin-left: 16%;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

.optionProyecto {
    margin-left: 42%;
    margin-bottom: 10px
  
    
}

.optionEstudiantes {
    margin-left: 42%;
}


.optionEstudiantes label {
    margin-right: 5%;
}


.optionProyecto label {
    margin-right: 8%;
    
}

button{
    margin-left: 55%;
    margin-top: 10px;
}