main h1 {
    margin-bottom: 20px;
    margin-left: 16%;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.optionProyecto {
    margin: 0 auto
    
}

.optionEstudiantes {
    margin: 0 auto;
}