main h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 50px;
}


.frmAsigarProyectoProfesores {
  text-align: center;
  /* margin-left: 31.5%; */
  margin: 0 auto;
  border: 2px solid #fbb876;
  padding: 50px 50px 18px 50px;
  border-radius: 20px;
  border-top-left-radius: 0%;
  height: 200px;
  width: 51%;   
}

.tabs__item{
    margin-left: 21.22%;
}

.optionProyecto, .optionProfeLider, .optionProfeTecnico{

    margin-bottom: 20px;

}


.optionProyecto label{

    margin-right: 14%; 
    

}

.optionProfeLider label{

    margin-right: 9.5%;

}

.optionProfeTecnico label{

    margin-right: 6.36%; 

}

.optionProyecto select{
    width: 45%;
}

.optionProfeLider select{
    width: 45%;
}

.optionProfeTecnico select{
    width: 45%;
}

.bontonAgregar{

    float: right;
  width: 100;
    

}

.bontonAgregar  button{
 
    width: 100px; 
    
}






