/* comenten aquí que estilos haen falta para ir agregandolos */
/* esta hoja se irá actualizando conforme avanza elproyecto */
/*  si se agregan nuevo estilos deben comentarlos */
body{
    font-family: 'Roboto', sans-serif;
    background-color: #454545;
    color: #ffffff;
    
}

/* id que va dentro del main. estilo del main espacio que da entre el menulateral y el contenido */
#content{
 padding-left: 17.6%; 
}

/* estilos de todos los anchor/links/direcciones por defecto */
a {
    text-decoration: none;
    color: #ffffff;
}

/* barra naranja del menu */
.mainHeader{
    max-height: 50px;
    background-color: #fbb803;
    display: flow-root;
    /* margin-bottom: 10px; */
    padding: 15px 0%;
    float: unset;
}

/* clase del cerrar sesión */
.fRight{
    float: right;
    padding-right: 20px;/******************Nuevo*******************/
}

/* estilos del enu lateral (tomen el header entero y lo copian dentro del registroTicket) */
.menuLateral {
    
    /*top: 0px;*/
    position: absolute;
    width: 18%; /*6.5%;*/
    height: 100%;
    background-color: #2f3030;
    overflow: hidden;
    -webkit-transition: width 0.5s;
    -moz-transition:  width 0.5s ease-out, opacity 0.3s ease 0.5s;
-o-transition:  width 0.5s ease-out, opacity 0.3s ease 0.5s;
transition:  width 0.5s ease-out, opacity 0.3s ease 0.5s;
}
/* .menuLateral:hover {
    width: 18%;
} */


/* estilo de los div que contienen los anchor del menu */
.option{
    width: 100%;
    height: 40px ;
    padding-top: 10%;
    margin: 1px 0px;
}

.option:hover{
 background-color: #fbb803;
}

/* espacio de los anchor dentro de las opciones del menu */
.option a {
    padding: 20px 0 0 20%;
    margin: 17px 0;
}

/* estilo del error de los inputs */
.error, .error_input{
    border: 1px solid #d63031;
}

/* estilo de los inputs en general, solo deben de eliminar el width y el height si es necesario */
input{
    border: 0px ;
    border-radius: 5px;
    
    height: 22px;
}

/* estilos generales de todos lo selects, igualemente ignoren el width  */
select{
    border: 0px;
    border-radius: 5px;
    height: 22px;
    font-family: 'Roboto' sans-serif;
    font-size: 14px;
    color: #454545;
    letter-spacing: 0.7pt;
 }

 /* estilo general de los botones de los registros...  */
 .btnRegistro {
     background-color: #fbb803;
     border-radius: 3px;
     border: none;
     padding: 5px 2%;
     font-family: 'Roboto' sans-serif;
     color: #fff;
     font-size: 1em;
 }

 .btnRegistro:hover {
    background-color: #fbb876;
    
 }

 .swal-button {
     background-color: #fbb803;
 }

 .swal-button:hover {
    background-color: #fbb876;
}
