.tbl {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#map {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.tbl a,.tbl button {
    cursor: pointer;
    display: inline-block;
}
.tbl a:hover{
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.none{
    display: none;
}

.modal {
    position: absolute;
    width: 82%;
    height: 100%;
    top: 47px;
    left: 18%;
    background-color: #0000003a;
    padding-top: 60px;
}