 .tabla .tblPersonas{
    margin: 0 auto;
    width: 70%;
   
}

main h1{
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
   
    
}

main .tabla table {
  
    margin: 0 auto;

    width: 75%;


}

td{
padding-left:5%;

}

.opFliltrado {
    margin-bottom: 10px; 
}

.opFliltrado .radio{
    margin-left:20%;
    margin-bottom: 2px;
}






/* main .tabla table th{
    padding-right: 10px;
} */