h1{
    font-size: 31px;
    text-align: center;
    margin: 150px 0 35px 0;
}

p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;  
}

input{
    display: block;
    width: 100%;
}

.divDatos{
    width: 35%;
    margin: 0 auto;
}
#btnReset{
    margin-top: 20px;
}

