.fmr {
    display: flow-root;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

input, select {
    border: 1px solid #ffffff;
}

h2 {
    padding-top: 20px;
    font-size: 24px;
    margin-bottom: 10px;
}

select {
    min-width: 100%;
}

.fmr div:nth-child(2n+1) {
    float: right;
}

.fmr div:nth-child(2n) {
    float: left;
}

.fmr div {
    width: 48%;
    margin-bottom: 20px;
}

.fmr label+input, .fmr label+select, .fmr label+textarea, .fmr label+output {
    display: block;
    border-radius: 3px;
    padding-left: 5px;
    outline: none;
    width: 100%;
    resize: none;
}
textarea{
    font-family: inherit;
}
output {
    border: 2px solid
}

.fmr output {
    color: #ffffff;
    border-radius: 3px;
    vertical-align: middle;
    height: 30px;
    /* padding: 7px 0 ; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.fmr label {
    display: block;
    margin-bottom: 5px;
}

.fmr h2 {
    text-align: center;
    clear: both;
}

.after {
    position: relative;
}

.after:before {
    border-left: 3px solid #fbb803;
    content: "error";
    position: absolute;
    top: 43px;
}

.cedRepetida {
    color: #d63031;
}

.fmr .btnRegistro {
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.fmr #btnModificar+#btnRegistrar {
    display: none;
}