
.fLeft {
    margin-left: 300px;
    float: left;
}

input{
    border: 1px solid;
    display: block;
    border-radius: 3px;
    padding-left: 5px; 
    outline: none;
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.fmr {
    display: flow-root;
    width: 50%;
    margin: 100px auto 0 519px;
}

.fmr div:nth-child(2n+1) {
    float: right;
}

.fmr div:nth-child(2n) {
    float: left;
}

.fmr div {
    margin: 10px;
    width: 42%;
}

#btnRegistro{
    margin: 15px 0 0 10px;
}

.error_input{
    border: 1px solid red;
}
.lblHide{
    border-left: #fbb803 3px solid;
    display: none;
    
}

.lblInput{
    display: block;
    margin-bottom: 5px;

}