h1{

    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 50px;   

}

.formulario {

    text-align: center;
    margin: 0 auto;
    border: 2px solid #fbb876;
    padding: 50px 50px 18px 50px;
    border-radius: 20px;
    border-top-left-radius: 0%;
    height: 235px;
    width: 42%;

}


.tabs{
   
    margin-left: 25.71%;

}

.proyecto{

    margin-bottom: 10px; 


}

.proyecto label {

    margin-right: 35%; 


}


.horas input{

    margin-bottom: 10px; 
    width: 43%;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
   

    

}
.formulario select{
 min-width: calc(42% + 10px);
}
.horas label{

    margin-right: 22.5%;

}


.fecha input{

    margin-bottom: 10px; 
    width: 43.1%;

    font-family: 'Roboto', sans-serif;
  
    
}

.fecha label{

    margin-right: 39%;

}

.boton button{

    margin-top:  15px;
    width: 50%;
    
}





