
.fLeft {
    /*margin-left: 300px;*/
    float: left;
}

input{
    border: 1px solid;
    display: block;
    border-radius: 3px;
    padding-left: 5px; 
    outline: none;
    width: 100%;
}

h2 {
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
}

.fmr {
    display: flow-root;
    width: 50%;
    /* margin: 0 auto; */
    margin: 80px auto 0 auto;
   /* margin: 80px auto 0 519px;*/
}

#leftContainer{
    width: 48%;
    float: left;
}

#rightContainer{
    width: 48%;
    float: right;
}

.fmr div div {
    margin: 0 0 25px 0;
}

#btnRegistro{
    margin: 15px 0 0 0;
}

.lblHide{  
    display: none;

}

#lblCedulaError, #lblCorreoError, #lblTelError, #lblProfesionError{
    border-left: #fbb803 3px solid;
}

.lblInput{
    display: block;
    margin-bottom: 5px;

}