
  input{
      border: 1px solid #ffffff;
  }
 main .frmRegistrarProyectos .TituloPrincipal H1{
     margin-bottom: 15px;
     text-align: center;
     font-size: 30px;
     margin-left: 30%;
     margin-right:40%; 
     width: 30%;
 }

 .frmRegistrarProyectos {
    margin: 0 auto;
    width: 85%;
    margin-top: 100px;
    margin-left: 10%;
 }

 main .colupna1{
    margin-top: 40px;
    width: 45%;
     float: left;
    /* margin-right: %; */

 }
 main .colupna1 input{
    margin-top: 5px;
    margin-bottom: 20px;
    display: block; 
    width: 100%;

} 

main .colupna1 select{
    display: block;
    margin-top: 5px;
    margin-bottom:20px;
    width: 100%;
   
    
}

main .colupna1 .slDescripcion select{
    padding-right: 77px;
}

main .colupna1 label{
    
    margin-bottom: 5px; 

}

main .colupna2{
    margin-top: 40px;
    float: right;
    width: 50%;

}

main .colupna2 input{
    margin-top: 5px;
    margin-bottom:20px;
    margin-top: 5px;

    display: block;
    width: 90%;
}

main .colupna2 .fecha input{
  
    display: block;
    height: 24px;
    
}

button{
    margin: 0 auto;
}


textarea {
    width: 90%;
    height: 150px;
    margin-top: 5px;
    margin-bottom:21px;
    border: 0px ;
    border-radius: 5px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

main .colupna2 select{
    display: block;
    margin-top: 5px;
    margin-bottom:20px;
    width: 91%;
         
}

 main .button button{
    margin: 0 auto;
        margin-left: 31%;
    width: 30%;
 }

 main .Tegnologias h2{
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
    margin-left: 30%;
    margin-right: 40%;
    margin-top: 100px;
    width: 30%;
 }

 .Tegnologias input{
     height: 15px;
     
 }

 .tecWed {

    width: 30%;
 }

 





